* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.dropdown {
  z-index: 2;
  position: absolute;
  left: 25px;
  cursor: pointer;
}
.dropdown .dropdown-button {
  padding: 15px;
  border: 3px solid #ffffff;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}
.dropdown .dropdown-button:hover {
  background-color: #be2530;
}
.dropdown .dropdown-content {
  overflow: hidden;
  height: 158px;
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border: 2.5px solid #931d25;
  transition: all 0.2s;
}
.dropdown .dropdown-link {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  text-decoration: none;
  color: #931d25;
}
.dropdown .dropdown-link:hover {
  color: #ffffff;
  background-color: #931d25;
}
.dropdown .dropdown-hidden {
  height: 0px;
  visibility: collapse;
}
.tabs {
  width: 100%;
}
.tabs .tabs-items {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.tabs .tabs-item {
  overflow: hidden;
  width: 0%;
  transition: all 0.2s;
  height: 0%;
}
.tabs .tabs-item .tabs-item-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
.tabs .tabs-item-selected {
  width: 75%;
  height: 100%;
}
.tabs .tabs-links {
  display: flex;
  background-color: #931d25;
}
.tabs .tabs-link {
  padding: 20px 25px;
  font-size: 24px;
  background-color: #931d25;
  border-right: 1px solid white;
  color: #ffffff;
  cursor: pointer;
}
.tabs .tabs-link:hover {
  background-color: #be2530;
}
.tabs .tabs-link-selected {
  z-index: 2;
  border-right: 1px solid #931d25;
  background-color: #ffffff;
  color: black;
}
.tabs .tabs-link-selected:hover {
  background-color: #ffffff;
}
body {
  box-sizing: border-box;
  min-width: 300px;
  margin: 0;
}
.header-container {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #931d25;
}
.header-container .header {
  height: 50px;
}
.section {
  width: 70%;
  margin: 45px auto;
  display: flex;
  border: 1px solid #931d25;
  box-shadow: 1px 1px 5px #931d25;
  border-radius: 10px;
  overflow: hidden;
}
.section .box {
  padding: 40px;
  display: none;
}
.section .box .box-title {
  font-size: 24px;
  padding-bottom: 10px;
  font-weight: bold;
}
.section .images {
  margin: 7.5px auto;
  display: none;
}
.section .images .bumper-arrow {
  background: lightgray;
  color: #be2530;
  height: 100%;
  opacity: 0.4;
  transition: all 0.1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.section .images .bumper-arrow:hover {
  opacity: 0.7;
  color: #931d25;
}
.section .images img {
  height: 300px;
  width: auto;
}
.section .images-current {
  display: flex;
  justify-content: center;
}
