* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.dropdown {
  z-index: 2;
  position: absolute;
  left: 25px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}
.dropdown .dropdown-button {
  padding: 15px;
  margin: 5px 0;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 20px;
  font-weight: 800;
}
.dropdown .dropdown-button:hover {
  transition: background-color 0.75s ease;
  background-color: #be2530;
}
.dropdown .dropdown-content {
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border: 2.5px solid #931d25;
}
.dropdown .dropdown-link {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  color: #931d25;
}
.dropdown .dropdown-link:hover {
  color: #ffffff;
  transition: background-color 0.75s ease;
  background-color: #931d25;
}
.dropdown .dropdown-hidden {
  display: none;
}
.tabs {
  width: 100%;
}
.tabs .tabs-items {
  width: 98%;
  margin: 0 auto;
  min-height: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.tabs .tabs-item {
  visibility: hidden;
  opacity: 0;
  width: 75%;
  padding: 0 5px;
}
.tabs .tabs-item .tabs-item-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 800;
  padding-bottom: 10px;
}
.tabs .tabs-item .tabs-item-description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.tabs .tabs-item-selected {
  transition: visibility 0s, opacity 0.5s linear;
  opacity: 1;
  visibility: visible;
}
/* In order to fade in the text you have to use something other than display
for the transition. In this case visibility and opacity provide the expected
behavior. Solution from here:
https://stackoverflow.com/questions/3331353/transitions-on-the-display-property */
.tabs {
  width: 100%;
}
.tabs .tabs-links {
  display: flex;
  background-color: #931d25;
}
.tabs .tabs-link {
  padding: 20px 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 800;
  background-color: #931d25;
  border-right: 1px solid white;
  color: #ffffff;
  cursor: pointer;
}
.tabs .tabs-link:hover {
  transition: background-color 0.75s ease;
  background-color: #be2530;
}
.tabs .tabs-link-selected {
  z-index: 2;
  border-right: 1px solid #931d25;
  background-color: #ffffff;
  color: black;
}
.tabs .tabs-link-selected:hover {
  transition: background-color 0.75s ease;
  background-color: #ffffff;
}
body {
  box-sizing: border-box;
  min-width: 300px;
  margin: 0;
}
.header-container {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #931d25;
}
.header-container .header {
  height: 50px;
}
.section {
  width: 70%;
  margin: 45px auto;
  display: flex;
  border: 1px solid #931d25;
  box-shadow: 1px 1px 5px #931d25;
  border-radius: 10px;
  overflow: hidden;
}
.section .box {
  padding: 40px;
}
.section .box .box-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 800;
  padding-bottom: 10px;
}
.section .box .box-description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
