* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.dropdown {
  z-index: 2;
  position: absolute;
  left: 25px;
  cursor: pointer;
}
.dropdown .dropdown-button {
  padding: 15px;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}
.dropdown .dropdown-button:hover {
  background-color: #616161;
}
.dropdown .dropdown-content {
  width: 200px;
  z-index: 3;
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border: 2.5px solid black;
}
.dropdown .dropdown-link {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  text-decoration: none;
  color: #931d25;
}
.dropdown .dropdown-link:hover {
  color: #ffffff;
  background-color: #616161;
}
.dropdown .dropdown-hidden {
  display: none;
}
.tabs {
  width: 100%;
}
.tabs .tabs-items {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.tabs .tabs-item {
  display: none;
  width: 75%;
}
.tabs .tabs-item .tabs-item-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
.tabs .tabs-item-selected {
  display: block;
}
.tabs .tabs-links {
  display: flex;
  background-color: #2f3c3f;
}
.tabs .tabs-link {
  padding: 20px 25px;
  font-size: 24px;
  background-color: #2f3c3f;
  border-right: 1px solid white;
  color: #ffffff;
  cursor: pointer;
}
.tabs .tabs-link-selected {
  z-index: 2;
  border-right: 1px solid #931d25;
  background-color: #ffffff;
  color: black;
}
.tabs .tabs-link-selected:hover {
  background-color: #ffffff;
}
.main-content {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.main-content .text-box {
  width: 45%;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.main-content .text-box .box .box-title {
  text-align: center;
}
.main-content .quote-box {
  width: 45%;
  background-color: white;
}
body {
  box-sizing: border-box;
  min-width: 300px;
  margin: 0;
  background-image: url('https://images.unsplash.com/photo-1537393018865-6e2644c7786c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=883fb6b8ce2c4fcfe0578cd6e8e02a22&auto=format&fit=crop&w=1534&q=80');
  background-size: cover;
  background-position: center center;
}
.header-container {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f3c3f;
}
.header-container .header {
  height: 50px;
}
.section {
  width: 70%;
  margin: 45px auto;
  display: flex;
  border: 1px solid black;
  box-shadow: 1px 1px 5px black;
  border-radius: 10px;
  overflow: hidden;
}
.section .box {
  padding: 40px;
}
.section .box .box-title {
  font-size: 24px;
  padding-bottom: 10px;
  font-weight: bold;
}
