* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.dropdown {
  z-index: 2;
  position: absolute;
  left: 25px;
  cursor: pointer;
}
.dropdown .dropdown-button {
  padding: 15px;
  border: 3px solid #ffffff;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}
.dropdown .dropdown-button:hover {
  background-color: #be2530;
}
.dropdown .dropdown-content {
  z-index: -10;
  width: 100%;
  position: absolute;
  top: -350px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border: 2.5px solid #931d25;
}
.dropdown .dropdown-link {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  text-decoration: none;
  color: #931d25;
}
.dropdown .dropdown-link:hover {
  color: #ffffff;
  background-color: #931d25;
}
.tabs {
  width: 100%;
}
.tabs .tabs-items {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.tabs .tabs-item {
  display: none;
  width: 75%;
}
.tabs .tabs-item .tabs-item-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
.tabs .tabs-item-selected {
  display: block;
}
.tabs .tabs-links {
  display: flex;
  background-color: #931d25;
}
.tabs .tabs-link {
  padding: 20px 25px;
  font-size: 24px;
  background-color: #931d25;
  border-right: 1px solid white;
  color: #ffffff;
  cursor: pointer;
}
.tabs .tabs-link:hover {
  background-color: #be2530;
}
.tabs .tabs-link-selected {
  z-index: 2;
  border-right: 1px solid #931d25;
  background-color: #ffffff;
  color: black;
}
.tabs .tabs-link-selected:hover {
  background-color: #ffffff;
}
* {
  box-sizing: border-box;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
body {
  box-sizing: border-box;
  min-width: 300px;
  margin: 0;
}
.header-container {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #931d25;
}
.header-container .header {
  height: 50px;
}
.section {
  width: 70%;
  margin: 45px auto;
  display: flex;
  border: 1px solid #931d25;
  box-shadow: 1px 1px 5px #931d25;
  border-radius: 10px;
  overflow: hidden;
}
