* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  min-width: 300px;
  font-size: 1.6rem;
  line-height: normal;
  margin: 0;
}
.header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #931d25;
  border-bottom: 1px solid #ffffff;
}
.header-container .header {
  height: 50px;
}
.section {
  overflow: hidden;
  display: flex;
  width: 70%;
  -webkit-box-shadow: 1px 1px 5px #931d25;
  -moz-box-shadow: 1px 1px 5px #931d25;
  -o-box-shadow: 1px 1px 5px #931d25;
  -ms-box-shadow: 1px 1px 5px #931d25;
  border: 1px solid #931d25;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  margin: 45px auto;
}
.section .box {
  padding: 40px;
}
.section .box .box-title {
  font-size: 2.4rem;
  font-weight: bold;
  padding-bottom: 10px;
}
#myCarousel {
  max-width: 90%;
  height: 500px;
  margin: 25px auto;
}
#myCarousel .carousel-inner {
  width: 100%;
  height: 100%;
}
#myCarousel .carousel-inner img {
  width: 70%;
  margin: auto;
}
.dropdown {
  position: absolute;
  left: 25px;
  z-index: 2;
  cursor: pointer;
}
.dropdown .dropdown-button {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  border: 1px solid #ffffff;
}
.dropdown .dropdown-button:hover {
  background-color: #be2530;
  outline: 2px solid #ffffff;
}
.dropdown .dropdown-button:active {
  font-weight: bold;
  outline: 1px solid #ffffff;
}
.dropdown .dropdown-content {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  border: 2.5px solid #931d25;
  margin-top: 10px;
}
.dropdown .dropdown-link {
  width: 100%;
  text-align: center;
  color: #931d25;
  font-size: 1.8rem;
  text-decoration: none;
  padding: 15px 0;
}
.dropdown .dropdown-link:hover {
  background-color: #931d25;
  color: #ffffff;
}
.dropdown .dropdown-link:active {
  background-color: #be2530;
}
.dropdown .dropdown-closed {
  display: none;
}
.tabs {
  width: 100%;
}
.tabs .tabs-items {
  overflow: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 300px;
  padding-top: 60px;
  margin-bottom: 25px;
}
.tabs .tabs-item {
  display: none;
  width: 75%;
}
.tabs .tabs-item .tabs-item-title {
  font-size: 2.4rem;
  font-weight: bold;
  padding-bottom: 10px;
}
.tabs .tabs-item-selected {
  display: block;
}
.tabs .tabs-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #931d25;
}
.tabs .tabs-link {
  background-color: #931d25;
  color: #ffffff;
  font-size: 2.4rem;
  cursor: pointer;
  padding: 20px 25px;
  border-right: 1px solid #ffffff;
}
.tabs .tabs-link:hover {
  background-color: #be2530;
}
.tabs .tabs-link-selected {
  z-index: 2;
  background-color: #ffffff;
  color: #000000;
  border-right: 1px solid #931d25;
}
.tabs .tabs-link-selected:hover {
  background-color: #ffffff;
}
