* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import "./mixins.less";
@import "../components/Dropdown/Dropdown.less";
@import "../components/Tabs/Tabs.less";

body {
  box-sizing: border-box;
  min-width: 300px;
  margin: 0;
}

.header-container {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid @white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @lambda-red;
  .header {
    height: 50px;
  }
  .social-media {
    position: absolute;
    right: 35px;
    display: flex;
    justify-content: space-evenly;
    .fab {
      color: @white;
      cursor: pointer;
      font-size: 1.7em;
      margin: 0 10px;

      &:hover {
        color: #ddd;
      }
      &:active {
        color: @lambda-light-red;
      }
    }
  }
}

.section {
  width: 70%;
  margin: 45px auto;
  display: flex;
  border: 1px solid @lambda-red;
  box-shadow: 1px 1px 5px @lambda-red;
  border-radius: 10px;
  overflow: hidden;
  .box {
    padding: 40px;
    .box-title {
      font-size: 24px;
      padding-bottom: 10px;
      font-weight: bold;
    }
  }
}
