// Variables
@lambda-red: rgb(147,29,37);
@lambda-light-red: lighten(@lambda-red,10%);
@white: rgb(255,255,255);
@lambda-times-color-primary: #333;
@lambda-times-color-white: #fff;
@lambda-times-color-black: #000;
@lambda-times-color-lightgrey: lightgrey;
@lambda-times-color-background: #f1f1f1;

//Mixins
.flex(@jc: none, @ai: none, @dir: row) {
    display: flex;
    justify-content: @jc;
    align-items: @ai;
    flex-direction: @dir;
}

.width-100 {
    width: 100%;
}