.carousel {
    display: flex;
    margin: 50px auto;
    justify-content: center;
    align-items: center;

    .left, .right{
        margin: 7px;
        height: 40px;
        background: black;
        color: black;
        &:hover {
            cursor: pointer;
            .pop;
        }
    }

    .left {
        clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    }

    .right {
        clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    }

    .section {
        margin: 0;
        overflow: hidden;
    }

    .hidden {
        display: none;
    }

}