.dropdown {
  z-index: 2;
  position: absolute;
  left: 25px;
  cursor: pointer;
  .dropdown-button {
    padding: 15px;
    // Removed border on button
      // border: 3px solid @white;
    color: @white;
    font-size: 30px;
    font-weight: bold;
    &:hover {
      //background-color: @lambda-light-red;
      background-color: #616161;
    }
  }
  .dropdown-content {
    // Changed Width from 100% to PX size
    width: 200px;
    // Added height to fit vertical screen
    z-index: 3;
    position: absolute;
    background-color: @white;
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 10px;
    //border: 2.5px solid @lambda-red;
    border: 2.5px solid black;
  }
  .dropdown-link {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
    text-decoration: none;
    color: @lambda-red;
    &:hover {
      color: @white;
      //background-color: @lambda-red;
      background-color: #616161;
    }
  }
  .dropdown-hidden {
    display: none;
  }
}





