.dropdown {
  z-index: 2;
  position: absolute;
  left: 25px;
  cursor: pointer;
  .dropdown-button {
    padding: 15px;
    border: 3px solid @white;
    color: @white;
    font-size: 20px;
    font-weight: bold;
    &:hover {
      background-color: @lambda-light-red;
    }
  }
  .dropdown-content {
    width: 100%;
    position: absolute;
    background-color: @white;
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 10px;
    border: 2.5px solid @lambda-red;
    animation-name: redBG ;
    animation-duration: .3s;
    & *, &::after {
      animation-name: opas;
      animation-duration: .29s; 
    } 
    &::after {
      content: '';
      height: 5px;
      width: 5px;
      background-color: white;
      bottom: 154px;
      position: absolute;
      border-left: 3px solid @lambda-red;
      border-top: 3px solid @lambda-red;
      transform: rotate(45deg);
    }
  }
  .dropdown-link {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
    text-decoration: none;
    color: @lambda-red;
    &:hover {
      color: @white;
      background-color: @lambda-red;
    }
  }
  .dropdown-hidden {
    display: none;
  }
}


@keyframes redBG {
  0% {height: 0px;}
  100% {height: 160px}
}
@keyframes opas {
  0% {opacity: 0;}
  96% {opacity: 0;}
  100% {opacity: 1;}
}






